#movies img, #movie img{
  width:100%;
}

.card {
  margin-right: 92px;
  margin-bottom: 20px;
  text-align: center;
  flex-grow: 1;
  max-width: 25%;
}

.row {
  margin-left: 0 !important;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
    width: 90%;
  }

  #movies .col-md-3 img{
    height:285px;
  }
  
  .for-btn {
    width: initial;
    height: initial;
  }
}
